@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4">
			<a href="https://github.com/maacpiash/KonSchool" target="_blank">View Source on GitHub</a>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>
