language: csharp
solution: KonSchool.sln
mono: none
dotnet: 2.1.3

env:
  - CLI_VERSION=latest
  
addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

os:
  - linux
  - osx
osx_image: xcode9.4

notifications:
  email:
    - maacpiash@outlook.com

branches:
  only:
    - master

matrix:
  include:
    - os: linux 
      dist: trusty # Ubuntu 14.04
      dotnet: 2.2
    - os: osx
      dotnet: 2.2
      osx_image: xcode9.4 # dotnet requires at least this version
  allow_failures:
    - os: osx

before_install:
  - if [ $TRAVIS_OS_NAME = ubuntu ]; then sudo apt update; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew update; fi

script:
  - dotnet restore --verbosity m
  - dotnet build
  - dotnet test tests/KonSchool.Tests.csproj
