@{
    ViewData["Title"] = "স্কুলে গেলি??";
}
<div>
    <h1>Yo dawg!</h1>

    <h4>So, you thinkin you gonna choose a school fo yo lil nigga?</h4>
    <h3>You came to da right place, madafaqa!!</h3>
</div>