@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Introduction</h3>

<p>
    Kon School? (Bengali: <i>কোন স্কুল?</i>, meaning "Which school?") is a system
    that recommends a secondary school based on user's preferences and school
    data. The user gives student data (age, sex, class (grade), location,
    guardian's profession) as input. The user also compares pairs of criteria
    and gives each pair a relative linguistic value. Then the system
</p>

<ul>
    <li>
        uses these linguitic values to run Fuzzy Analytic Hierarchy Process
        (Fuzzy AHP) to evaluate weights of each criterion
    </li>
    <li>
        takes data from a dataset on secondary schools of Bangladesh and
        calculates comparative values for each criterion
    </li>
    <li>
        gives each school a score, which is a sum of weighted criteria-values.
    </li>
</ul>

<h4>For a more detailed description, visit the <a href="https://www.maacpiash.com/KonSchool" target="_blank"><code>docs</code></a> page.</h4>

<h3>Acknowledgement</h3>

<p>
    I am very grateful to
    <a href="https://scholar.google.ca/citations?user=L9S6rlUAAAAJ" target="_blank"> Dr. Mohammad
    Rashedur Rahman</a> sir, Professor at Department of Electrical and Computer
    Engineering, North South University; and our honorable instructor of the
    Fuzzy Logic course (CSE470). He mentored my group on this project and made
    sure our research work got
    <a href="https://link.springer.com/chapter/10.1007/978-3-319-98678-4_29" target="_blank">
        published
    </a> in a Springer journal and presented at a prestigeous
    <a href="https://missi.pwr.edu.pl/2018/" target="_blank">
        conference
    </a>.
</p>
<p>
    I would also like to thank my groupmates — N.S.M. Rezaur Rahman, for his
    works in the development of the original mathematical model, on which the
    current model is based; and Abdullah-Al Nahian Siraj, for his cooperation
    with finding related research papers.
</p>