@page
@model KonSchool.Pages.Analysis

@{
    Layout = "Shared/_LayoutMaterial";
}

<div class="row">
    <div class="col s12 l7">
        <div class="section">
            <div id="description" class="white-text">
                <div class="card grey darken-4">
                    <div class="card-content blue-grey darken-4 white-text">
                      <span class="card-title center-align">For district-wise analytical results, click over the map</span>
                      <p class="text-justify">By clicking over any of the district over the map of Bangladesh, You will get some overview and analytical results about the schools based on some parameters like:</p>
                      <ol>
                          <li> Number of primary and secondary schools </li>
                          <li> School areas </li>
                          <li> Male-Female student ratio</li>
                          <li> Teacher-Student ratio </li>
                          <li> Average age </li>
                          <li> Weighted Score</li>
                          <li> Has ethnic students or, not</li>
                          <li> Runs business</li>
                          <li> Has vocational education</li>
                      </ol>
                      <p class="text-justify">This is an extended version of the web-application <b>KonSchool</b> which comes with the idea of how the application programming interface (API) can be used in various ways as well as keeping in mind with material design to enhance the look and feel and enriching user experience.</p>
                    </div>
                    <div class="card-action blue-grey darken-3">
                      <a href="/api/schools" target="_blank">API Source</a>
                      <a href="https://github.com/maacpiash/KonSchool/issues" target="_blank">FAQ's</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
    <div id="mapCol" class="col s12 l5">
        <div class="bangladesh">
            <partial name="_VectorMap"/>
        </div>
    </div>
</div>

<div id="analyticalResults">
    <h4 class="center-align white-text" id="_analyticalResultHeading"></h4><hr/>
    <div id="_analyticalResultPreloader" class="center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    
        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p class="center-align">Have patience, Fetching Information</p>
    </div>
  
  <div id="_analyticalResultContent">
    
    <div class="row">
      <div class="row" id="gradient-Analytics">
        <div class="col s12 m6 l4 card-width">
          <div class="card gradient-45deg-indigo-blue white-text padding-4 mt-5">
            <div class="col s7 m7">
              <i class="material-icons background-round mt-5 mb-5">sentiment_very_satisfied</i>
              <p>Higher Schools</p>
            </div>
            <div class="col s5 m5 right-align">
              <h5 class="mb-0 white-text">02</h5>
              <br/>
              <h5 class="count white-text" id="_analyticalResultCard01"></h5>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 card-width">
          <div class="card gradient-45deg-purple-deep-orange darken-4  white-text padding-4 mt-5">
            <div class="col s7 m7">
              <i class="material-icons background-round mt-5 mb-5">sentiment_very_dissatisfied</i>
              <p>Junior Secondary Schools</p>
            </div>
            <div class="col s5 m5 right-align">
              <h5 class="mb-0 white-text">03</h5>
              <br/>
              <h5 class="count white-text" id="_analyticalResultCard02"></h5>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 card-width">
          <div class="card gradient-45deg-purple-deep-purple white-text padding-4 mt-5">
            <div class="col s7 m7">
              <i class="material-icons background-round mt-5 mb-5">send</i>
              <p>Secondary Schools</p>
            </div>
            <div class="col s5 m5 right-align">
              <h5 class="mb-0 white-text">01</h5>
              <br/>
              <h5 class="count white-text" id="_analyticalResultCard03"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="chartjs-pie-chart" class="card grey darken-4 white-text">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="sample-chart-wrapper">
                  <canvas id="_maleFemaleCombinedDoughnut" height="220"></canvas>
                </div><br/>
              </div>
              <div class="col s12 m6 l6">
                <table class="responsive-table">
                  <thead class="blue darken-4">
                  <th>Parameter</th>
                  <th>Value</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Boys schools having only boys</td>
                    <td id="_td1"></td>
                  </tr>
                  <tr>
                    <td>Girls schools having only girls</td>
                    <td id="_td2"></td>
                  </tr>
                  <tr>
                    <td>Combined</td>
                    <td id="_td3"></td>
                  </tr>
                  <tr>
                    <td>Boys schools, having girls also</td>
                    <td id="_td4"></td>
                  </tr>
                  <tr>
                    <td>Girls schools, having boys also</td>
                    <td id="_td5"></td>
                  </tr>
                  <tr>
                    <td>In total</td>
                    <td id="_td6"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
</div>
