@page
@model KonSchool.Pages.Analysis

@{
    Layout = "Shared/_LayoutMaterial";
}

<div class="row">
    <div id="mapCol" class="col s12 l6">
        <div class="bangladesh">
            <partial name="_VectorMap"/>
        </div>
    </div>
    
    <div class="col s12 l6">
        <div class="section">
            <h4 class="white-text center-align">For district-wise analytical result, Please click over the map </h4><br/><br/>
        </div>
    </div>
</div>
