@page
@model KonSchool.Pages.Analysis

@{
    Layout = "Shared/_LayoutMaterial";
}

<div class="row">
    <div class="col s12 l6">
        <div class="section">
            <div id="description" class="white-text">
                <h5 class="white-text center-align">For district-wise analytical results, Click over the map </h5><br/><hr/>
                <p class="text-justify">By clicking over any of the district over the map of Bangladesh, You will get some overview and analytical results about the schools based on some parameters like:</p>
                <ol>
                    <li> Number of primary and secondary schools </li>
                    <li> School areas </li>
                    <li> Male-Female student ratio</li>
                    <li> Teacher-Student ratio </li>
                    <li> Average age </li>
                    <li> Weighted Score</li>
                    <li> Has ethnic students or, not</li>
                    <li> Runs business</li>
                    <li> Has vocational education</li>
                </ol>
                <p class="text-justify">This is an extended version of the web-application <b>KonSchool</b> which comes with the idea of how the application programming interface (API) can be used in various ways as well as keeping in mind with material design to enhance the look and feel and enriching user experience.</p>
            </div>
        </div>
    </div>
    
    <div id="mapCol" class="col s12 l6">
        <div class="bangladesh">
            <partial name="_VectorMap"/>
        </div>
    </div>
</div>

<div id="analyticalResults">
    <h1 class="white-text">Yo</h1>
</div>
