@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Md. Abdul Ahad Chowdhury<br />
    Full-stack web developer based in Dhaka Bangladesh<br />
    Currently working as a Junior Software Developer at
    <a href="http://dsinnovators.com" target="_blank">DSi</a>.<br />
    See my works:
    <a href="https://www.maacpiash.com/" target="_blank">GUI</a> •
    <a href="https://www.maacpiash.com/cli" target="_blank">CLI</a>
</address>