@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<a href="https://github.com/maacpiash/KonSchool" target="_blank">
    <img alt="GitHub stars" src="https://img.shields.io/github/stars/maacpiash/KonSchool.svg?style=social">
</a>

<address>
    Md. Abdul Ahad Chowdhury<br />
    Full-stack web developer based in Dhaka Bangladesh<br />
    Currently working as a Junior Software Developer at
    <a href="http://dsinnovators.com" target="_blank">DSi</a>.<br />
    <a href="https://www.maacpiash.com/" target="_blank">Learn more about me</a>
</address>

<a target="_blank"
   href="https://twitter.com/intent/tweet?url=https%3A//github.com/maacpiash/KonSchool&amp;text=cHeCK%20tHIs%20Out%21">
    <img src="https://img.shields.io/twitter/url/https/github.com/maacpiash/KonSchool.svg?style=social" alt="Tweet">
</a>