@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Md. Abdul Ahad Chowdhury<br />
    Dhaka Bangladesh<br />
    <abbr title="Website">P:</abbr>
    https://www.maacpiash.com
</address>


