@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    The inputs you give on the first two pages about your child, your
    occuption, location and preference of criteria are not stored in a
    persistent database. Your data is saved temporarily in your browser's
    session, which is cleared as soon as any of the following occurs:
    <ul>
        <li>you close this browser tab</li>
        <li>30 minutes pass since you opened this tab</li>
        <li>you manually clear the data via the browser's developer tools</li>
    </ul>
</p>

<p>
    KonSchool respects your privacy and does not collect, use, or sell your
    private data.
</p>
