*{
    font-family: 'Quicksand', sans-serif;
}

#page-logo {
    font-family: 'Poiret One', cursive;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

#description{
    font-size: 17px;
}


/*Page logo fixing for iphone 5/SE*/
@media screen and (device-aspect-ratio: 40/71) {
    #page-logo{
        font-size: 13px;
        font-weight: bolder;
    }
}

@media only screen and (max-width:823px) {
    #description{
        font-size: 11px;
    }
}

#analyticalResults{
    display: none;
}

#_analyticalResultPreloader{
    display: none;
}

.capitalize-text{
    text-transform: capitalize;
}

#_regressionResultArea1{
    text-align: justify;
}